In [ ]:
l = [214,243,238,303]
norm = [round(float(i)/sum(l),5) for i in l]
norm

[0.21443, 0.24349, 0.23848, 0.30361]

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/drive/MyDrive/Tech_Neuron/Machine_Learning/Deep_Learning/Computer_Vision/Object_detection/Chess_detection/train.csv")
df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,92992ff9c823e0420bf17e71db9ef4ef_jpg.rf.ad34a5...,416,416,knight,214,243,238,303
1,d3a4e1b8f13ef89f419251f5c5839d0d_jpg.rf.ab9092...,416,416,pawn,219,310,240,355
2,d9acc69c5d57623cda22786e309201c9_jpg.rf.aacf3c...,416,416,king,124,267,160,355
3,d9acc69c5d57623cda22786e309201c9_jpg.rf.aacf3c...,416,416,rook,48,293,83,355
4,d9acc69c5d57623cda22786e309201c9_jpg.rf.aacf3c...,416,416,queen,156,98,185,175

In [ ]:
df_new = pd.DataFrame()
df_new['class'] = df['class'].copy()
df_new['xmin'] = df['xmin'].copy().astype('float')
df_new['ymin'] = df['ymin'].copy().astype('float')
df_new['xmax'] = df['xmax'].copy().astype('float')
df_new['ymax'] = df['ymax'].copy().astype('float')
df_new.head()

    class   xmin   ymin   xmax   ymax
0  knight  214.0  243.0  238.0  303.0
1    pawn  219.0  310.0  240.0  355.0
2    king  124.0  267.0  160.0  355.0
3    rook   48.0  293.0   83.0  355.0
4   queen  156.0   98.0  185.0  175.0

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_new['class'] = le.fit_transform(df_new['class'])
df_new.head(5)

   class   xmin   ymin   xmax   ymax
0      2  214.0  243.0  238.0  303.0
1      3  219.0  310.0  240.0  355.0
2      1  124.0  267.0  160.0  355.0
3      5   48.0  293.0   83.0  355.0
4      4  156.0   98.0  185.0  175.0

In [ ]:
norm_list = []
for i in range(3742):
  l = list(df_new.iloc[i])[1:]
  norm = [round(float(j)/sum(l),6) for j in l]
  norm_list.append(norm)
  df_new['xmin'][i] = norm[0]
  df_new['ymin'][i] = norm[1]
  df_new['xmax'][i] = norm[2]
  df_new['ymax'][i] = norm[3]

df_new.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

   class      xmin      ymin      xmax      ymax
0      2  0.214429  0.243487  0.238477  0.303607
1      3  0.194840  0.275801  0.213523  0.315836
2      1  0.136865  0.294702  0.176600  0.391832
3      5  0.061617  0.376123  0.106547  0.455712
4      4  0.254072  0.159609  0.301303  0.285016

In [ ]:
my_list = list(df_new.iloc[0])[1:]
mystring = str(df_new['class'][0])+" "+str(my_list[0])+" "+str(my_list[1])+" "+str(my_list[2])+" "+str(my_list[3])
mystring

'2 0.214429 0.243487 0.238477 0.303607'

In [ ]:
# Opening and Closing a file "MyFile.txt"
# for object name file1.
file1 = open("/content/drive/MyDrive/Tech_Neuron/Machine_Learning/Deep_Learning/Computer_Vision/Object_detection/MyFile.txt","r+")
file1.write(mystring)
file1.close()